body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #111827;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 10;
}

.logo {
  font-weight: bold;
  color: #38bdf8;
}

.nav-links a {
  margin: 0 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  padding: 120px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
}

/* PRODUCT */
.product {
  padding: 80px;
  background: #1e293b;
  text-align: center;
}

.product-img {
  width: 250px;
  cursor: pointer;
  transition: 0.3s;
}

.product-img:hover {
  transform: scale(1.05);
}

.price {
  font-size: 22px;
  margin: 10px 0;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* QTY */
.qty button {
  padding: 5px 10px;
}

/* REVIEWS */
.reviews {
  padding: 80px;
  text-align: center;
}

.review {
  margin: 10px;
  background: #111827;
  padding: 15px;
  border-radius: 10px;
}

/* CART */
.cart {
  position: fixed;
  right: -400px;
  top: 0;
  width: 300px;
  height: 100%;
  background: #111827;
  padding: 20px;
  transition: 0.3s;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal img {
  width: 300px;
}
